.bg {
    background: url(../images/barrie-marina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.heading {
    padding-top: 20px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: #fff;
}

.intro-text {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
}

@media (max-width:767px) {
    .intro-text {
        font-size: 14px;
    }
}

#map {
    min-height: 500px;
}

.gm-style-iw .gm-style-iw-c {
    max-width: 300px;
}

.gm-style .gm-style-iw {
    font-size: 16px;
}

#services {
    border-radius: 60%;
    background-color: #fff;
    padding: 40px 40px;
    margin: 20px;
    border-width: 0px;
    border-style: none;
    border-image: none;
    outline: none;
}

#buttons {
    padding-top: 20px;
}

#marinaSelect {
    vertical-align: middle;
    position: relative;
}

.check-btn {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -moz-box-flex: 0;
    -ms-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: #fff;
    height: 20px;
    width: 20px;
}

input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 2px;
}

.button-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-right: 8px;
}

.service-question {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #66b3ff;
    font-weight: bolder;
    padding-bottom: 0;
    margin: 0;
}

.far {
    padding-right: 5px;
    font-weight: bolder;
}

/* Full Service Modal */

#serviceModal {
    display: none;
    margin-top: 20px;
}

.modal {
    display: none;
    position: absolute;
    float: left;
    left: 25%;
    top: 50%;
    transform: translate(-70%, -50%);
    z-index: 1;
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: #66b3ff;
    margin-right: 10px;
}

.modal-heading {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #66b3ff;
}

.modal-header {
    border-color: #66b3ff;
}

.modal-footer {
    border-color: #66b3ff;
}

.close {
    color: #66b3ff;
    font-weight: bolder;
}

.btnclose:hover {
    border-color: #66b3ff !important;
}

.modal-content {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 0;
    width: 100%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

.btnclose {
    background-color: #66b3ff;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 16px;
    border: 1px solid #66b3ff;
}

.btnclose:hover {
    background-color: #fff;
    color: #66b3ff;
    border-color: #b3b3b3;
}

.facilities {
    list-style: none;
}

.fa-gas-pump {
    padding-right: 5px;
    color: #66b3ff;
}

.fa-toilet {
    padding-right: 5px;
    color: #66b3ff;
}

.fa-store {
    padding-right: 5px;
    color: #66b3ff;
}

.fa-tools {
    padding-right: 5px;
    color: #66b3ff;
}

.fa-utensils {
    padding-right: 5px;
    color: #66b3ff;
}

.fa-bed {
    padding-right: 5px;
    color: #66b3ff;
}

.modal-list {
    color: #737373;
    font-size: 16px;
}

.modal-body {
    color: #737373;
    font-size: 16px;
}

/* Full Service Modal */

/* Footer */

#footer {
    background-color: #fff;
    padding-left: 0;
    width: 100vw;
}

.footer-content {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #66b3ff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/* Footer */
