

.bg {
background: url(../images/barrie-marina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

.heading {
    padding-top: 20px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: #fff;
}

.intro-text {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
}

@media (max-width:767px){
.intro-text {
    font-size: 14px;
}
}


#map {
    min-height: 430px;
}

.button-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.full-service {
    font-family: Lato, sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #66b3ff;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    border-style: groove;
    border-radius: 60%;
    padding: 10px;
}

.service-question {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #66b3ff;
    font-weight: bolder;
}
.far {
    padding-right: 5px;
}


.map-col {
    padding-right: 20px;
}


/* Full Service Modal */

.modal {
    display: none;
    position: relative;
    z-index: 1;
    width: 500px;
    height: 500px;
    overflow: auto;
    background-color: #66b3ff;
}

.modal-content {
    position: relative;
    background-color: #FFF;
    margin: auto;
    padding: 0;
    width:80%;
    -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* Full Service Modal */

/* Footer */

#footer {
    background-color: #fff;
    padding-left: 0;
    width: 100vw;
}

.footer-content {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #66b3ff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

/* Footer */