

.bg {
background: url(../images/barrie-marina.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
}

.heading {
    padding-top: 20px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 24px;
    color: #fff;
}

.intro-text {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
}

@media (max-width:767px){
.intro-text {
    font-size: 14px;
}
}


#map {
    min-height: 430px;
}

.button-text {
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.full-service {
    font-family: Lato, sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #66b3ff;
    font-weight: bolder;
    text-align: center;
    margin-top: 10px;
    border-style: groove;
    border-radius: 60%;
    padding: 10px;
}

.service-info {
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 18px;
    color: #fff;
}
.far {
    padding-right: 5px;
}


.map-col {
    padding-right: 20px;
}
#footer {
    background-color: #fff;
    padding-left: 0;
    width: 100vw;
}

.footer-content {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #66b3ff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

